<h1><%= @article.title %></h1>
<% if @article.author %>
  <h2> Author: <%= @article.author.username %> | <%= "viewed #{@article.view_count} times." %></h2>

<% end %>
<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>
<% if @article.image.exists? %>
  <p><%= image_tag @article.image.url %></p>
<% end %>
<p><%= @article.body %></p>
<h3> Comments (<%= @article.comments.length %>):</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
<%= render partial: 'comments/form' %>
<% if logged_in? && current_user == @article.author %>
  <%= link_to '<< Back to articles list', articles_path %>&nbsp;|
  <%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %>&nbsp;|
  <%= link_to 'Edit', edit_article_path(@article) %>
<% end %>